@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-primary my-auto">Adicionar Produto</a>
</div>

<vc:Summary></vc:Summary>

<partial name="_ListaProdutos" />